@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue:  hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color-light-gray);
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    background-color: var(--color-white);
    border-radius: 2rem;
    max-width: 30em;
    max-height: 70em;
    padding: 1rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
}

h1, p{
    text-align: center;
    margin-top: 1.5rem;
}

h1{
    font-weight: 700;
    color: var(--color-dark-blue);
    font-size: 2.1rem;
}

p{
    font-weight: 400;
    color: var(--color-grayish-blue);
    font-size: 1.4rem;
    line-height: 1.5;
}